.theme--dark.v-calendar-weekly .v-calendar-weekly__day.v-outside {
  background-color: #43444e !important;
  border-left: #e77c76 1px solid !important;
}
.theme--dark.v-calendar-weekly {
  background-color: #31343f !important;
}
.theme--dark.v-btn.v-btn--has-bg {
  background-color: rgba(255, 255, 128, 0) !important;
}
.theme--dark.v-calendar-weekly .v-calendar-weekly__head-weekday.v-outside {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  background-color: #31343f !important;
}
.theme--dark.v-calendar-weekly .v-calendar-weekly__head-weekday {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-bottom: #e77c76 1px solid !important;
  border-left: #e77c76 1px solid !important;
  font-size: 16px !important;
  border-right: #e77c76 0px solid !important;
}
.theme--dark.v-calendar-weekly .v-calendar-weekly__day {
  border-left: #e77c76 1px solid !important;
  border-bottom: #e77c76 1px solid !important;
  border-right: #e77c76 0px solid !important;
  color: #ffffff;
}
.theme--dark.v-calendar-weekly .v-calendar-weekly__head-weekday.v-past {
  color: white !important;
}
.theme--dark.v-calendar-daily .v-calendar-daily__day-interval {
  border-top: #e77c76 1px solid !important;
}
.theme--dark.v-calendar-daily .v-calendar-daily_head-day {
  border-left: #e77c76 1px solid !important;
  border-bottom: #e77c76 1px solid !important;
  border-right: #e77c76 0px solid !important;
  color: #ffffff;
}
.theme--dark.v-calendar-daily .v-calendar-daily__intervals-body {
  border-left: #e77c76 1px solid !important;
  border-right: #e77c76 0px solid !important;
}
.theme--dark.v-calendar-daily .v-calendar-daily__interval::after {
  border-top: #e77c76 1px solid !important;
}
.theme--dark.v-calendar-daily .v-calendar-daily__intervals-head {
  border-left: #e77c76 1px solid !important;
  border-right: #e77c76 0px solid !important;
}
.theme--dark.v-calendar-daily .v-calendar-daily__intervals-head::after {
  background: #e77c76 !important;
  background: linear-gradient(90deg, transparent, #e77c76) !important;
}
.theme--dark.v-calendar-daily .v-calendar-daily__day {
  border-left: #e77c76 1px solid !important;
  border-bottom: #e77c76 1px solid !important;
  border-right: #e77c76 0px solid !important;
}
.theme--dark.v-calendar-daily {
  background-color: #31343f !important;
}
.v-calendar-daily_head-weekday {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.v-btn--fab.v-size--default {
  height: 35px !important;
  width: 35px !important;
}
.theme--dark.v-card {
  background-color: #43444e;
  color: #ffffff;
}
.v-calendar-daily {
  width: 100%;
}
.v-calendar-weekly__head-weekday {
  padding-top: 10px !important;
}
.calendar {
  border: none !important;
}
.v-calendar .v-event {
  margin-left: 5px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.v-card > *:last-child:not(.v-btn):not(.v-chip) {
  background-color: #43444e;
}
.v-card__actions {
  background-color: #43444e !important;
}
.mdi-delete {
  color: #e77c76 !important;
}
.theme--light.v-card > .v-card__text,
.theme--light.v-card .v-card__subtitle {
  color: white !important;
  background-color: #43444e !important;
}
textarea {
  color: white !important;
}
.v-application--is-ltr .v-text-field .v-label {
  color: #3e779f !important;
}
.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  border-color: #3e779f !important;
}
.v-text-field > .v-input__control > .v-input__slot:after {
  border-color: #a173d2 !important;
}
.v-input input {
  color: #a173d2 !important;
}
.v-calendar-weekly__day-label {
  cursor: default !important;
}
.v-calendar-weekly__day-label .v-btn {
  font-size: 16px !important;
}